/* Start here */
.title {
margin-top: 275px;
    position:fixed;
    border:2px solid red; margin-left: 45%; padding: 10px 10px 10px 10px
}

#honest_title {
    margin-top: 300px;
    border:2px solid black;
    margin-left: 66%;
    position:fixed;
    padding: 1px 1px 1px 1px
    
}
.para1{
    margin-top: 280px;
    margin-left: -7px;
    position:fixed;
    border: 3px dotted red;
}

#unob_title{
    margin-left: 375px;
}
/* level 1 link */
.innovation {
    color: black;
    text-decoration: line-through;
}

/*LEVEL 4.1 */

#middle_1{
    text-align: center;
    font-size: 55pt;
}

#middle_2 {
    text-align: center;
    font-size: 50pt;
}
#middle_3 {
    text-align: center;
    font-size: 45pt;
}
#middle_4 {
    text-align: center;
    font-size: 40pt;
}
#middle_5 {
    text-align: center;
    font-size: 35pt;
}
#middle_6 {
    text-align: center;
    font-size: 30pt;
}
#middle_7 {
    text-align: center;
    font-size: 25pt;
}
#middle_8 {
    text-align: center;
    font-size: 20pt;
}
.middle_9 {
    text-align: center;
    font-size: 15pt;
}
#middle_10{
    text-align: center;
    font-size: 20pt;
}

#middle_11 {
    text-align: center;
    font-size: 25pt;
}
#middle_12 {
    text-align: center;
    font-size: 30pt;
}
#middle_13 {
    text-align: center;
    font-size: 35pt;
}
#middle_14 {
    text-align: center;
    font-size: 40pt;
}
#middle_15 {
    text-align: center;
    font-size: 45pt;
}
#middle_16 {
    text-align: center;
    font-size: 50pt;
}
#middle_17 {
    text-align: center;
    font-size: 55pt;
}

/*LEVEL 4.2 */

#good1 {
    padding: 10px 10px 10px 10px;
    font-size: 90pt;
    text-align: center;
    font-weight: bold;
}
#design1 {
    text-align: center;
    font-size: 72pt;
    position:relative;
    top:-40px;
}
#is1 {
    text-align: center;
    font-size: 300pt;
    position:relative;
    top:-130px;
    color:black;
}
#thorough1 {
    text-align: center;
    font-size: 46pt;
    position:relative;
    top:-230px;
}
#down1 {
    text-align: center;
    font-size: 80pt;
    position:relative;
    top:-260px;
}
#to1 {
    text-align: center;
    font-size: 195pt;
    position:relative;
    top:-340px;
    color: black;
}
#the1 {
    text-align: center;
    font-size: 130pt;
    position:relative;
    top:-430px;
}
#last1 {
    text-align: center;
    font-size: 100pt;
    position:relative;
    top:-490px;
}
#detail1 {
    text-align: center;
    font-size: 67pt;
    position:relative;
    top:-530px;
    font-weight: bold;
    color:black;
}
/*LEVEL 4.3 */

#height {
    line-height: 10.0;
    font-size: 5pt;
}
#big {
   font-size: 90pt;
   text-align: center;
    border: 2px solid black;
    position: fixed;
    margin-top: 3px;
    margin-left: -10px;
  }
/*LEVEL 5.1 */

#recycle {
    margin-left: 25%;
    margin-top: 9%;
    position: fixed;
    z-index: 1;
}

#recycle2 {
    margin-left: 5%;
    margin-top: 9%;
    position: fixed;
    z-index: 1;
}

#recycle3 {
    margin-left: 45%;
    margin-top: 9%;
    position: fixed;
}

#recycle4 {
    margin-left: 65%;
    margin-top: 9%;
    position: fixed; 
    z-index: -1;
}

#enviro_title {
    font-family: monospace;
    color:deeppink;
    font-size: 45pt;
    text-align: center;
    margin-top: 2%;
        
}

#enviro_title2 {
    font-family: monospace;
    color:aquamarine;
    font-size: 45pt;
    text-align: center;
    margin-top: -6.5%;
        
}

#friendly_title3 {
    font-family: monospace;
    color: aquamarine;
    font-size: 55pt;
    text-align: center;
    margin-top: 45%;
}

#friendly_title2 {
    font-family: monospace;
    color: deeppink;
    font-size: 55pt;
    text-align: center;
    margin-top: 45%;
}

/*LEVEL 5.2 */

#loading {
    margin-left: 45%;
    margin-top: 25%
    
}

#little_design {
    font-family:monospace;
    border-bottom: 1px solid black;
    background-color: lightgray;
    font-size: 15pt;
    position: fixed;
}

/*LEVEL 5.3 */

#earth {
    margin-top: 28%;
    margin-left: 40%;
    position: absolute;
}

#earth2 {
    margin-top: 11%;
    margin-left: 13%;
    position: absolute;
    z-index: 1;
}

#earth3 {
    margin-top: 24%;
    margin-left: 70%;
    position: absolute;
    z-index: 1;
}

#earth4 {
    margin-top: 33%;
    margin-left: 5%;
    position: absolute;
}

#earth5 {
    margin-top: 3%;
    margin-left: 88%;
    position: absolute;
}

#friendly_title {
    border: 0px solid white;
    background-color: orange;
    float: left;
    font-size: 30pt;
    margin-top: 1%;
    position: fixed;
    font-family: monospace;
    color: aqua;
}

#earth_para {
    text-align: right;
    font-size: 15pt;
    word-spacing: 10px;
    font-family: monospace;
    color: cornflowerblue;
}

#earth_para2 {
    text-align: left;
    font-size: 15pt;
    word-spacing: 10px;
    font-family: monospace;
    color: limegreen;
}

#earth6 {
    margin-top: -28%;
    margin-left: 45%;
    
}


/*LEVEL 1.2 LINK */

#useful {
    color: black;
    text-decoration: line-through;
}



#aesthetic {
    color: black;
    text-decoration: none;
}

.structure {
    color: black;
    text-decoration: line-through;
}

.long_lasting {
    color: black;
    text-decoration: line-through;
}

.grey_text {
    color: black;
}




